<body style="text-align:center;font-family: Verdana,ubuntu;border: 1px solid #ddd;max-width:600px;margin:0 auto;border-radius:15px;margin-top:20px;padding:20px;">
  	<h1 style="width:80%;margin: auto;padding:5px;font-size:22px;border-bottom:1px solid #ddd;padding-bottom:20px;">Minha rua tem problema</h1>
  	<br />
  	<h2 style="font-size:18px;font-weight:400"><%= @name%> está apoiando sua reclamação!</h2>
  	<br />
  	<h4><a href="<%= @url %>" style="background:#333;color:#fff;padding:10px;border-radius:5px;text-decoration:none;">Ver reclamação</a></h4>
  	<br />
  	<p><a href="https://minharuatemproblema.com.br">http://minharuatemproblema.com.br</a></p>
 	<p><a href="http://facebook.com/minharuatemproblema">http://facebook.com/minharuatemproblema</a></p>
</body>

