<% content_for :opg do%>
  <title>Suas Reclamações| Minha Rua Tem Problema</title>
  <meta property="og:title" content="Suas Reclamações | Minha Rua tem Problema." />
  <meta property="og:description" content="Todas reclamações criadas por você." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.minharuatemproblema.com.br<%=raw url_for(:only_path => true) %>" />
  <meta property="og:image" content="https://www.minharuatemproblema.com.br/assets/images/denuncia.jpg" />
<% end %>
<div class="container max-960">
  <div class="row ">
    <div class="col-xs-12">
      <h1 class="page-title center margin-bottom">Suas reclamações</h1>
    </div>
    <div class="col-xs-12 custyle">
      <%= render 'table_body' %>
    </div>
  </div>
</div>
