<% content_for :opg do%>
  <title>Suas Reclamações| Minha Rua Tem Problema</title>
  <meta property="og:title" content="Suas Reclamações | Minha Rua tem Problema." />
  <meta property="og:description" content="Todas reclamações criadas por você." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.minharuatemproblema.com.br<%=raw url_for(:only_path => true) %>" />
  <meta property="og:image" content="https://www.minharuatemproblema.com.br/assets/images/denuncia.jpg" />
<% end %>
<div class="container max-960">
  <div class="row ">
    <div class="col-xs-12">
      <h1 class="page-title center margin-bottom">Suas reclamações</h1>
    </div>
    <% if  @complaints.size <= 0 %>
      <div class="col-xs-12">
        <div class="empty">
          <h2>Você ainda não criou nenhuma reclamação</h2>
          <a href="/complaints/criar" class="btn btn-primary" data-toggle="modal" data-target="#modalCidadeReclamar" id="reclamarSemCidade">Reclamar agora</a>
        </div>
      </div>
    <% else %>
      <%= render 'table_body' %>
    <% end %>
  </div>
</div>
