<p id="notice"><%= notice %></p>
<div class="container max-960">
  <div class="row ">
    <div class="col-xs-12">
      <h1 class="page-title center margin-bottom">Reclamações que você apoia!</h1>
    </div>
    <div class="col-xs-12 custyle">
      <%= render 'table_body' %>
    </div>
  </div>
</div>
