<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicial</title>
</head>
<body>
	<h1>Página Inicial</h1>
	<ul>
	<% @nomes.each do |nome| %>
	    <li><%= nome %></li>
	<% end %>
	</ul>

	
</body>
</html>


