<section>
	<div class="box">
		<h2>Selecione uma cidade e veja as reclamações cadastradas!</h2>
		<input type="text" id="city-input-home" class="city-input-home" placeholder="Digite uma cidade...">
		<a href="#!">Sou do governo</a>
	</div>
</section>