@import 'variables-style';
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900);
*,body,p,input,textarea{
	font-family: 'Lato', sans-serif;
}

#map{
	height:500px;
	width:100%;
}

a{
	&:hover{
		background:none;
	}
}
.menu-add{
	a{
		font-weight:500;
		background:$accent-color !important;
	    padding: 10px 35px !important;
   		border-radius: 5px !important;
		&:hover{
			background:$accent-color !important;
		}
	}
}

#city-input-nav{
    color: #333;
    font-size: 18px;
    margin-left: 16px;
    padding: 9px 15px;
    border-radius: 5px;
    border: none;
    width: 270px;
}

.navbar{
	min-height:60px;
	padding-top:10px;
	@media screen and (max-width: 420px) {
	   min-height:60px;
  	}
}

.toast{
    position: absolute;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.98);
    margin: 15px;
    left: 0%;
    color: #000;
    font-size: 16px;
    max-width: 320px;
    text-align: center;
    /* padding: 15px; */
    box-shadow: 2px 3px 11px #000;
    line-height: 1.5;
    animation-name: toast;
 	animation-duration: 0.5s;
	animation-iteration-count: 1;
 	animation-timing-function: ease-out;
}

@keyframes toast {
  0%   {  	left:-100%;  }
  100% { left:0;  }
}

.navbar-default{
	background-color:$secondary-featured;
	margin:0;
	color:#fff;
	border:none;
	border-radius:0;
	.navbar-nav{
		>li{
			>a{
				color:#fff;
				&:hover{
					background:none;
					color:#fff;
				}
			}
			margin-left:15px;
		}
		.open{
			.dropdown-menu{
				>li{
					>a{
						@media screen and (max-width: 768px) {
						    color:#FFF;
					  	}
					}
				}
			}
		}
	}

	.navbar-brand{
		color:#fff;
		img{
		    @media screen and (max-width: 420px) {
			    max-width:168px;
		  	}
		  	@media screen and (max-width: 380px) {
			    max-width:138px;
		  	}
		  	@media screen and (max-width: 360px) {
			    max-width:115px;
		  	}
		}
	} 
}

.actual-city{
	float:right;
	border-right:1px solid #666;
	margin-right:10px;
	padding-right:10px;
	text-align:right;
	&:hover{
		cursor:pointer;
		opacity:0.8;
	}
	h2{
		margin:0;
		padding:0;
		font-size:18px;
	}
	a{
		color:#fff;
		text-decoration:underline;
		font-size:12px;
	}
}
.page-title{
	font-size:24px;
	border-bottom:1px dashed #aaa;
	padding-bottom:20px;
	margin-bottom:20px;
	text-align:center;
}




#reclamar{
	position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    border-radius: 15px;
    background: #FF4C3B;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

#infobox{
	color:#fff;
	width:265px;
	.title{
		a{
		    font-size: 20px;
		    line-height: 21px;
		    display:block;
		    font-weight: 500;
		    margin-bottom: 25px;
		    color:#fff;
		    &:first-letter{
	    	text-transform:uppercase;
	    }
	    }

	}
	.content{
		p{
			font-size:16px;
			text-align:left;
		}
		.more {
		    background: #6F1715;
		    color: #fff;
		    padding: 8px 10px;
		    width: 53%;
		    display: block;
		    margin: 0 auto;
		    text-align: center;
		    font-size: 17px;
		    border-radius: 6px;
		    margin-top: 30px;
		}
		.address{
			font-size:12px;
			font-weight:600;
		}
	}
}

.max-960{
	max-width:960px;
}


.mobile-tools{
	position:fixed;
	bottom:0;
	height:60px;
	width:100%;
	text-align:center;
	transition: all 0.5s;
	a{
		color:#fff;
		display:block;
		font-weight:600;
		font-size:18px;
		margin-top:20px;
	}
	.search{
		height:60px;
		background:$secondary-featured;
	}
	.new{
		height:60px;
		background:$accent-color;
	}
}
.input-search{
	position: fixed;
    top: -100%;
    background: #121F25;
    height: 60px;
    transition:all 0.5s;
    border-bottom: 2px solid #255F71;
    width: 100%;
    .close-search{
    	position: absolute;
	    right: 15px;
	    top: 16%;
	    color: #56666D;
	    font-size: 31px;
	    font-weight: 100;
	    &:hover{
	    	color:#C1C4C5;
	    	cursor:pointer;
	    }
    }
}

#city-input{
    background: transparent;
    border: none;
    width: 100%;
    padding:0px 11px;
    color: #B9CED8;
    font-size: 19px;
    outline:none;
    height:60px;
}

$size: 30px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

footer{
	height:80px;
}



.sessions{
	&.new{
		.field{
			input[type="text"],input[type="email"],input[type="password"]{
				width:100%;
				background:transparent;
				border:1px solid #ddd;
				padding:3px 10px;
				font-size:18px;
			}
		}
		

		.form-control{
			padding: 19px 12px;
			font-size: 16px;
		}

		.form-control:focus {
		    outline: 0;
		  	box-shadow: none;
		    border: 2px solid #09A7D8;
		}

	}
	.links {
	    text-align: center;
	    font-size: 17px;
		a{
			display:inline-block;
			padding-right:15px;
			border-right:1px solid #aaa;
			&:nth-child(2){
				padding-left:15px;
				border-right:none;
			}
		}
	}
}

.registrations{
	&.new{
		.sub-title{
			text-align:center;
		}
		.divider{
			height:1px;
			background:#ddd;
			width:40%;
			margin:30px auto;
		}
	}
}

.title{
	text-align:center;
}

a{
	&.btn-primary{
		color:#fff;
	}
}
.btn-primary {
	&.new{
	    color: #fff;
	    width: 100%;
	    background-color: #0C66B3;
	    border: none;
	    box-shadow: inset 0px -4px 0px 0px #0B406D;
	    font-size: 22px;
	    font-weight: 500;
	    padding: 9px;
	    text-shadow: 0px 1px 1px #000;
	    &.green{
		    background-color: #12B94F;
		    border: none;
		    box-shadow: inset 0px -4px 0px 0px #0C8438;
		    &:hover{
		    	color: #fff;
		   		background-color: #139C45;
		   		border-color: none;
		    }
	    }
	    &:hover {
		    color: #fff;
		    background-color: #286090;
		    border-color: none;
		}
	}
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    color:$text-featured;
    @media screen and (max-width: 768px) {
	    color:#FFF;;
  	}

}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
#modalCidadeReclamar{
	.modal-content{
		padding:20px;
		padding-bottom:50px;
		h2{
			font-size:22px;
			margin-bottom:20px;
			text-align:center;
		}
		input{
			background:#eee;
			color:#333;
		}
	}
}
.ui-autocomplete {
    border: none;
    font-size: 18px;
    line-height: 28px;
    color: #666;
    height: 185px;
    max-width: 540px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:9999;
    border:1px solid #ccc;
    margin-top:10px;
    li{
    	padding-left:10px;
    	&:hover{
    		background:#ddd;
    		border-bottom:1px solid #ddd;
    		border-top:1px solid #ddd;
    	}
    }
    @media screen and (max-width: 600px) {
	    font-size:18px;
  	}
}

