@import 'variables-style';
#map{
	height:500px;
	width:100%;
}

a{
	&:hover{
		background:none;
	}
}
.menu-add{
	a{
	    background: #000;
	    padding: 10px 35px !important;
   		border-radius: 5px !important;
		&:hover{
			background:#000!important;
		}
	}
}

#city-input-nav{
	color: #000;
    font-size: 25px;
    margin-left: 16px;
    padding: 2px 10px;}

.navbar{
	min-height:70px;
	padding-top:10px;
}
.navbar-default{
	background-color:$secondary-featured;
	margin:0;
	color:#fff;
	border:none;
	border-radius:0;
	.navbar-nav{
		>li{
			>a{
				color:#fff;
				&:hover{
					background:none;
					color:#fff;
				}
			}
		}
	}

	.navbar-brand{
		color:#fff;
	} 
}


.page-title{
	font-size:24px;
	&.center{
		text-align:center;
	}
}

.field{
	input{
		border:1px solid #ddd;
		outline:none;
		padding:3px 10px;
		font-size:22px;
	}

	&.w100{	
		input{
			width:100%;
		}	
	}
}


#reclamar{
	position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    border-radius: 15px;
    background: #FF4C3B;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}