@import 'variables-style';
.complaints {
	&.new,&.create{
		h1{
			text-align:center;
			margin:50px 0;
			@media screen and (max-width: 600px) {
			    font-size:26px;
		  	}
		}
		.field{
			input{
				border:1px solid #ddd;
				outline:none;
				padding:4px 10px;
				font-size:22px;
				width:100%;
			}
			&.w100{	
				input{
					width:100%;
				}	
			}
		}

		select{
			&#complaint_category_id {
			    background: #fff;
			    padding: 5px;
			    font-size: 19px;
			    width: 100%;
			    border: 1px solid #ddd;
		    }
		}
		textarea{
			width:100%;
		}
		input[type="submit"]{
			background:$accent-color;
			color:#fff;
		}
	}
}