// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables-style";
#home{

	#map{
		width:100%;
		height: calc(100vh - 100px);
	}

	#question-city{
		height: 100vh;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:1;
		background:$secondary-featured;
		transition:all 0.5s;

		.box{
			margin:15px;
			border-bottom:1px solid rgba(255,255,255,0.7);
			background:$secondary-featured;
			.field{
				width:calc(70% - 15px);
				float:left;
				input{
					background:transparent;
					border:none;
					width:100%;
					color:#fff;
					font-size:46px;
					padding:10px 3px;
					outline:none;
					&::-webkit-input-placeholder {
						  color: rgba(255,255,255,0.3);
					}
				}
			}

			.go{
				float:left;	
				border-left:1px solid #fff;
				padding-left:10px;
				height:70px;
				font-size:28px;
				button{
				    background: transparent;
				    border: none;
				    color: #fff;
				    font-weight: 600;
				    text-transform: uppercase;
				    font-size: 24px;
				    margin-top: 15px;
				    outline:none;
				}
			}

		}
	}
	.categories{
		position: fixed;
		bottom:0;
		height:70px;
		background:rgba(0,0,0,0.5);
		width:100%;
		padding:10px 0;
		ul{
			li{
				display:inline-block;
				width:60px;
				img{
					width:35px;
					height: 35px;
				}
			}
		}
	}


}

#home-big{
	.ui-autocomplete {
	    border: none;
	    background: transparent;
	    padding-top: 20px;
	    font-size: 46px;
	    line-height: 55px;
	    color: #fff;
	}
}