<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a alteração de sua senha. Você pode fazer isso clicando no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se está solicitação não foi feita por você, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e faça isso.</p>
