<p>Olá <%= @resource.email %>!</p>

<p>Sua senha foi bloqueada.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
