<div class="modal fade"  id="modalCidadeReclamar" tabindex="-1" role="dialog" aria-labelledby="modalCidadeReclamar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h2>Selecione uma cidade para reclamação</h2>
	   <input type="text" id="city-input" class="city-input sem-cidade"  placeholder="Digite uma cidade..." data-reclamar="TRUE">
    </div>
  </div>
</div>